RUSH_API_TOKEN=
RUSH_API_URL=
RUSH_URL=
RUSH_SLUG=
RUSH_ROUTE_ROOT_ID=
RUSH_ROUTE_BLOG_ID=
RUSH_ROUTE_SERVICES_ID=
RUSH_NAV_MAIN_ID=
RUSH_NAV_FOOTER_ID=
RUSH_FORM_CONTACT_ID=

PUBLIC_INSTAGRAM=
PUBLIC_FACEBOOK=
PUBLIC_EMAIL=
PUBLIC_WHATSAPP=
PUBLIC_WHATSAPP_HERO_TEXT="Olá! Gostaria de falar com vocês."
PUBLIC_WHATSAPP_BTN_TEXT="Olá! Gostaria de agendar um diagnóstico gratuito."
PUBLIC_WHATSAPP_SERVICE_TEXT="Olá! Tenho interesse no serviço de {service}. Poderia me dar mais informações?"
LOCATION=

GA_TAG=
GADS_TAG=
GADS_WHATSAPP_CLICK_TRACKER_ID=
